[Unit]
Description=mcnotify update
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
WorkingDirectory=PATH_TO_MCNOTIFY
ExecStart=/usr/bin/bash -c "$PWD/venv/bin/python scripts/mcnotify_update config.json"
